---
import { getCollection, type CollectionEntry  } from 'astro:content';
import StoryCard from './StoryCard.astro';

type Story = CollectionEntry<'stories'>;
const storiesCollection: Story[] = await getCollection('stories');
---

<section class="py-20 bg-shadow relative">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="font-metal-mania text-3xl md:text-4xl mb-4">
        Don't be shy... Step into the light
      </h2>
      <p class="font-special-elite text-lg max-w-2xl mx-auto">
        Beware what you ask, for it may come to pass...
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {storiesCollection.map((story) => (
        <a href={`/stories/${story.id}`}>
          <StoryCard story={story.data} />
        </a>
      ))}
    </div>
  </div>
</section>
