---
import { ChevronRight } from '@lucide/astro';
import { getCollection, type CollectionEntry  } from 'astro:content';
import StoryCard from './StoryCard.astro';

type Story = CollectionEntry<'stories'>;
const storiesCollection: Story[] = await getCollection('stories');
---

<section class="py-20 bg-shadow relative">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="font-metal-mania text-3xl md:text-4xl mb-4">
        Don't be shy... Step into the light
      </h2>
      <p class="font-special-elite text-lg max-w-2xl mx-auto">
        Beware what you ask, for it may come to pass...
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {storiesCollection.map((story) => <StoryCard story={story.data} />)}
    </div>

    <div class="text-center mt-12">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        View All Stories
        <ChevronRight class="ml-2 h-5 w-5" />
      </button>
    </div>
  </div>
</section>
